body{
    background-image: url(/telaprincipal/img/fundo1.png);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Arial, sans-serif;
        padding: 0;
        margin: 0;
}