@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
body, html {
  overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
 background-image:url("img/fundo.png");
  background-color: linear-gradient(to right, #FFC544, #FFD984);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #444;
}

input, select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border 0.3s ease;
}

input:focus, select:focus, textarea:focus {
  border-color: #ffd271;
  outline: none;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  display: inline-flex;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #FFC544;
background: linear-gradient(90deg, #ffb81e 0%, #f8c862 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #c38e1b;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #379091;
  box-shadow: 0 0 60px #59e1e3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, 
.button:focus {
  color: #313133;
transform: translateY(-6px);
}

.button:hover::before, 
.button:focus::before {
  opacity: 1;
}
.btn-sair {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 16px;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

.button:hover::after, 
.button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}